/* prevents adjsutments of font size orientation changes in IE on windoes phone and in ios */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


body {
    background-image: url('./images/bg.jpeg');
    background-size: cover;
    background-attachment: fixed;
  }

.navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        
        .ring{
            display: flex;
            justify-content: center;
            flex-direction: row;
            justify-content: space-between;
            gap: 15px;
            color: rgb(227, 115, 118);
            list-style-type: none;
        }

        .ring li{
          list-style: none;
        }
        .ring li a{
          text-decoration: none;
          font-weight: bold;
          color: black;
          list-style-type: none;
          
        }
    .links {
        display: flex;
        gap: 5px;
        grid-template-rows: 1fr 1fr;
        justify-content: space-between;
        align-content: center;
        list-style-type: none;
    }
    
    .profile{
        display: flex;
        gap: 5px;
        margin-right: 10px;
      }
}

.major{
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 10px;
    justify-content: center;
    margin-top: 60px;
    align-self: center;
    padding: 10px;
    height: 500px;

    .row1{
        display: grid;
        column-gap: 1rem;
    }
      .icon{
        display: flex;
        grid-template-columns: 1fr 1fr;
        margin-left: 10px;
        color: rgb(255, 135, 175);
        
      }
      .image{
        padding-left: 10px;
        margin-top: 1px;
      
        
      }

      .text{
        
        font-family: Arial, Helvetica, sans-serif;
        }
        .text h1{
            font-weight: 600;
            font-size: 190%;
        }
        .text p{
        opacity: 40%;
  
        }
        .bay{
            display: flex;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            padding-bottom: 400px;
          }

          .button{
            border-radius: 10px;
            border: 1px solid black;
          }
        
          
}

.row2{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;

}
.combine1{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr ;
  
  
  
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
    padding-top: 200px;
    margin: 20px;
  }
    
  


